{% extends 'greenhouse_app/base.html' %}

{% load static %}

{% block title %}{{ 'camera page' }}{% endblock %}

{% block camera_active_class %} active {% endblock %}

{% block body_block %}
    <link href="{% static 'css/graph.css' %}" rel="stylesheet" type="text/css">
    <table>
        <tr>
            <td>
                <button id="save_picture" onclick=savePicture()>Save Picture</button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                <img src="{% static "pics/cam_current.jpg" %}" alt="something" >
                </div>
            </td>
        </tr>
    </table>
    <p>
        <!--<button id="add_data" disabled="true" title="add previous day" ><</button> -->

        <span></span>
    </p>
{% endblock %}


{% block footer_block %}
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/jquery.flot.symbol.js' %}"></script>
    <script src="{% static 'js/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'js/jquery.flot.tooltip.js' %}"></script>
    <!--<script src="{% static 'js/date.js' %}"></script> -->
    <script src="{% static 'js/graphs.js' %}"></script>
{% endblock %}


{% block script_block %}
    function savePicture(){
        $.ajax({
                url: 'savePicture/',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function(msg){}
        });
    }
{% endblock %}