{% extends 'greenhouse_app/base.html' %}

{% load staticfiles %}

{% block title %}{{ 'graphs page' }}{% endblock %}

{% block graphs_active_class %} active {% endblock %}

{% block body_block %}
    <link href="{% static 'css/graph.css' %}" rel="stylesheet" type="text/css">
    <table>
        <tr>
            <td>
                <div id="sensor_checkboxes" class="control-container">
                    {% for s in sensors %}
                        <input type="checkbox" id={{s}}>{{s}}<br>
                    {% endfor %}
                </div>
            </td>
            <td>
                <div class="graph-container">
                    <div id="placeholder" class="chart-placeholder"></div>
                    <div id="legend-container" class="legend-container"></div>
                </div>
            </td>
        </tr>
    </table>
    <p>
        <button id="add_data" disabled="true" title="add previous day" ><</button>
        <button id="show_graphs">Show Graphs</button>
        <span></span>
    </p>
{% endblock %}


{% block footer_block %}
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/jquery.flot.symbol.js' %}"></script>
    <script src="{% static 'js/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'js/jquery.flot.tooltip.js' %}"></script>
    <!--<script src="{% static 'js/date.js' %}"></script> -->
    <script src="{% static 'js/graphs.js' %}"></script>
{% endblock %}


{% block script_block %}
{% endblock %}