{% extends 'greenhouse_app/base.html' %}

{% load staticfiles %}

{% block title %}{{ 'index page' }}{% endblock %}

{% block index_active_class %} active {% endblock %}

{% block body_block %}
    {% if sensors %}
        <ul>
            {% for sensor in sensors %}
            <li>{{ sensor.name }}, {{sensor.kind}}, {{sensor.simulate}}, {{sensor.pin}}, {{sensor.i2c}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no sensors present.</strong>
    {% endif %}
{% endblock %}

