{% extends 'greenhouse_app/base.html' %}

{% load staticfiles %}

{% block title %}{{ 'index page' }}{% endblock %}

{% block index_active_class %} active {% endblock %}

{% block body_block %}
    <b>Sensors</b>
    {% if sensors %}
        <ul>
            {% for sensor in sensors %}
            <li>{{ sensor.name }}, {{sensor.kind}}, {{sensor.simulate}}, {{sensor.pin}}, {{sensor.i2c}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no sensors present.</strong>
    {% endif %}

    <b>Relays</b>
    {% if relays %}
        <ul>
            {% for relay in relays %}
            <li>{{ relay.name }}, {{relay.pin}}, {{relay.simulate}}, {{relay.state}}, {{relay.wanted_state}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no sensors present.</strong>
    {% endif %}

{% endblock %}

