{% extends 'greenhouse_app/base.html' %}

{% load staticfiles %}

{% block title %}{{ 'Measurements page' }}{% endblock %}

{% block measurement_active_class %}active{% endblock %}

{% block body_block %}
    <form method="get" action="downloadMeasurements/">
        <button type="submit">Download Measures as csv</button>
    </form>
    <br>
    <br>
    <div id="data"></div>
    <script>
        function onload(e) {
            console.log(e.target.response);
            var d = document.getElementById("data");
            d.innerHTML = e.target.response;
        }

        function getData(){
            var xhr=new XMLHttpRequest();
            xhr.addEventListener("load", onload);
            xhr.open('GET', 'getSensorsData/', true);
            xhr.send(null);
        }
        getData();
        setInterval(getData, 5000);
    </script>

{% endblock %}
{% block script_block%}
{% endblock %}